extends layout

block content

    .channel-outer
        if error == ''

            .channel-page
                .head
                    h1= channel.name
                    if channel.group != null
                        .edit-channel.btn Edit Channel
                    else
                        .btn.subscribe Subscribe

                p.desc= channel.description

                .posts
                each post in posts
                    h3= post.title
                    p= post.text

                if channel.group != null

                    .add-post-form.hide
                        form(action="/channels/newpost/#{channel.id}", method="POST")
                            p
                                label Title
                                input(type="text", name="title", required)
                            p
                                label Text
                                textarea(name="text", rows="10", cols="40", required)
                            button(type="submit", id="savePost") Add Post

                    .add-post
        else
            h3= error
